<div data-tf-live="{{ id }}"
     {% if settings.hide_header %} data-tf-hide-headers {% endif %}
     {% if settings.hide_footer %} data-tf-hide-footer {% endif %}
     data-tf-opacity="{{ settings.opacity }}"></div>
<script src="//embed.typeform.com/next/embed.js"></script>